# coding: utf-8

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>tweet</th>
      <th>Map</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user %></td>
        <td><%= tweet.tweet %></td>
        <% if tweet.latitude.nil? %>
          <td></td>
        <% else %>
          <td><a href="https://maps.google.com/maps?q=<%= tweet.latitude %>,<%= tweet.longitude %>">Map</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
