# coding: utf-8

<header>
  <h1 class="logo">迷いDog迷いCat</h1>
  <div class="searchWin">
<!--     <form>
    <a href="">検索</a>
    <input type="text" name="" value="" placeholder="東京　雑種">
    </form> -->
  </div>
</header>

<div id="contents">
  <div class="leftContent">
    <section>
      <ol class="tweetList">
        <% @tweets.each do |tweet| %>
          <li>
            <article>
            <h1 style="background-image:url('<%= tweet.image_url %>');">
                <!-- 名前 --><%= tweet.user %>
                <span class="day"><!-- 時間 --><%= tweet.time %></span>
              </h1>
            <p class="tweet"><%= tweet.tweet %></p>
            </article>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
  <div class="rightContent">
  </div>
</div>
