# coding: utf-8

<header>
  <h1 class="logo">迷いDog迷いCat</h1>
  <div class="searchWin">
    <form>
    <a href="">検索</a>
    <input type="text" name="" value="" placeholder="東京　雑種">
    </form>
  </div>
</header>

<div id="contents">
  <div class="leftContent">
    <section>
      <ol class="tweetList">
        <% @tweets.each do |tweet| %>
          <li>
            <p><%= tweet.tweet %></p>
          </li>
        <% end %>
      </ol>
    </section>
  </div><!--
--><div class="rightContent">
    <!-- ここに地図を入れたい -->
  </div>
</div>
