  body{
    position: relative;
    margin: 0 auto;
    width:800px;
    box-shadow: 5px 0px 5px rgba(0,0,0,.6), -5px 0px 5px rgba(0,0,0,.6);
    font-family : Meiryo;
  }

  header{
    position:fixed;
    top:0px;
    left:50%;
    width: 800px;
    height: 100px;
    background-color: #ffc740;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }

  .logo{
    position: absolute;
    top: 0;
    left:0;
    width: 344px;
    height: 100px;
    background-image: url('logo.png');
    color: #ffc740;
  }

  .searchWin{
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 20px 0 0;
    width: 545px;
    height: 100%;
    -webkit-box-sizing: border-box;
  }
  .searchWin form{
    display: table;
    table-layout: fixed;
    width: 525px;
  }
  .searchWin a{
    display: table-cell;
    padding: 10px;
    width: 80px;
    height: 20px;
    background-color: #A67500;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    line-height: 1.2em;
    border-radius: 10px 0px 0px 10px;

  }
  .searchWin input{
    display: table-cell;
    padding: 10px;
    width: 425px;
    -webkit-box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
  }

  #contents{
    position: relative;
    padding: 100px 0 0;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .leftContent,
  .rightContent{
    /*display: table-cell;*/
    width: 50%;
    background-color: #ffe072;
  }
  .leftContent{
    margin: 0 auto;
    width: auto;
    max-width: 800px;
  }
  .rightContent{
    display: none;
  }

  .tweetList{
    height: 800px;  
    overflow: scroll;
  }
  .tweetList li{
    padding: 30px 60px 0px;
    background-repeat: no-repeat;
  }

  .tweetList li:nth-child(odd),
  .tweetList li.sad{
    background-position: -6% bottom;
    background-image: url('face_sad.png');
  }
  .tweetList li:nth-child(even),
  .tweetList li.happy{
    background-position: 106% bottom;
    background-image: url('face_happy.png');
  }
  .tweetList li article{
    position: relative;
    /*padding: 8px;*/
    background-color: #fff;
    border: 4px #000 solid;
    -webkit-box-sizing:border-box;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6) inset;
  }

  .tweetList li.sad article,
  .tweetList li:nth-child(odd) article{
    border-radius: 16px 16px 16px 0px;
    border-color: #01939a
  }
  .tweetList li.happy article,
  .tweetList li:nth-child(even) article{
    border-radius: 16px 16px 0px 16px;
    border-color: #ff9c00
  }

  .tweetList li article h1{
    color : white;
    padding: 8px 8px 0px 71px;
    background-repeat: no-repeat;
    height: 54px;
    background-position: 8px 8px;
  }
  .tweetList li:nth-child(odd) article h1{
    background-color: #01939a;
  }
  .tweetList li:nth-child(even) article h1{
    background-color: #ff9c00;
  }

  .tweetList li article .tweet{
    padding: 8px 12px;
  }

  .tweetList li article h1{
    position: relative;
  }
  .tweetList li article h1 .day{
    padding: 8px 8px;
    display: inline-block;
    position: absolute;
    bottom:0;
    right:0;
  }

  .rightContent{
    background-color: #fff;
  }